<div class="public-profile">
  <div class="left-column">
    <% if @user.photo? %>
      <%= cl_image_tag @user.photo.path, class: "avatar-xl text-center" %>
    <% else %>
      <% avatar_url = @user.facebook_picture_url || "http://placehold.it/100x100" %>
      <%= image_tag avatar_url, class: "avatar-xl text-center" %>
    <% end %>
    <h2><%= @user.full_name %></h2>

    <h2>Driver stats</h2>
    <p><%= t('num_of_journeys_driven_html', number: @journeys_as_driver.count)%></p>
    <p><%= t('num_of_journeys_passenger_html', number: @journeys_as_passenger.count)%></p>
    <p><%= t('avg_journey_time_html')%></p>
  </div>
  <div class="right-column">
    <div class="container">
      <div class="row">
        <h2>Bio</h2>
        <p>Description: <%= @user.description %></p>

        <h2>University information</h2>
        <p>Student ID: <%= @user.student_id %></p>
        <p>Year of study: <%= @user.year_of_study %></p>
        <p>Course: <%= @user.uni_course %></p>

        <h2><%= t('preferences') %></h2>
        <p> <%= t('music_html', music: @user.music_habits) %> </p>
        <p> <%= t('speaking_html', speaking: @user.speaking_habits) %> </p>
        <p> <%= t('smoking_html')%> <%= @user.smoking ? "Yes" : "No" %> </p>
      </div>
    </div>
  </div>
</div>
