<div class='lift-bacground'>

<% content_for :title, I18n.t(".Dashboard") %>

<div class="profile-wrapper">
  <div class="dashboard-wrapper padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'profiles/dashboard/overview-header' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="tabs">
          <a class="tab active" href="#" data-target="#overview">
            <h3> <%= t(".tab_overview") %> </h3>
          </a>
          <a class="tab" href="#" data-target="#bookings">
            <h3><%= t(".tab_bookings") %></h3>
          </a>
         <!--  <a class="tab" href="#" data-target="#notifications">
            <h3><%= t(".tab_notifications") %></h3>
          </a>
          <a class="tab" href="#" data-target="#account-settings">
            <h3> <%= t(".tab_account_settings") %> </h3>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="tab-content" id="overview">
        <%= @teacher ? (render 'profiles/dashboard/overview') : (render 'profiles/dashboard/overview_user') %>
      </div>
      <div class="tab-content hidden" id="bookings">
        <%= @teacher ? (render 'profiles/dashboard/journey') : (render 'profiles/dashboard/journey_user') %>
      </div>
      <div class="tab-content hidden" id="notifications">
        <%= render 'profiles/dashboard/notifications' %>
      </div>
      <div class="tab-content hidden" id="account-settings">
        <%= render 'profiles/dashboard/account-settings' %>
      </div>
    </div>
  </div>
</div>

</div>

