<% content_for :title, "Edit Profile" %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="dashboard-card">
          <h1></h1>
          <%= simple_form_for current_user, url: update_profile_path do |f| %>
            <%= f.error_notification %>

            <h2>Personal info</h2>
            <%= f.input :first_name, placeholder: 'Bob' %>
            <%= f.input :last_name, placeholder: 'Fernandez' %>
            <%= f.input :date_of_birth, as: :date_picker %>
            <%= f.input :description, placeholder: 'bla bla' %>
            <%= f.input :gender, as:  :radio_buttons,  collection: ['Male', 'Female'], wrapper: :vertical_radio_and_checkboxes %>

            <%= f.input :address, placeholder: '36 longmore road', label: 'Personal Address', input_html: { class: :autocomplete } %>

            <%= f.input :photo, as: :attachinary %>


            <h2>Contact info</h2>
            <%= f.input :email, placeholder: 'bob@bob.com' %>
            <%= f.input :phone_number, placeholder: '432432432414'%>

            <h2>Verification details </h2>
            <%= f.input :linkedin_URL, placeholder: 'http://dfdfdfdafs' %>
            <%= f.input :facebook_URL, placeholder: 'http://dfdfdfdafs'  %>

            <%= f.input :id_document, as: :attachinary %>


            <%= f.button :submit, class: "btn-custom btn-primary"%>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
