<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<h2>Driver personal information</h2>
<p>Email: <%= @user.email %></p>
<p>Phone number: <%= @user.phone_number %></p>
<p>Gender: <%= @user.gender %></p>
<p>DOB: <%= @user.date_of_birth %></p>

<h2>Driver bio</h2>
<p>Description: <%= @user.description %></p>

<h2>Driver university information</h2>
<p>Student ID: <%= @user.student_id %></p>
<p>Year of study: <%= @user.year_of_study %></p>
<p>Course: <%= @user.uni_course %></p>

<h2>Driver preferences</h2>
<p>Music: <%= @user.music_habits %></p>
<p>Speaking: <%= @user.speaking_habits %></p>
<p>Smoking: <%= @user.smoking %></p>

<%= link_to "Edit user details", edit_profile_path, class: "btn btn-primary" %>
