<div class="row">
  <div class="col-xs-12">
    <div class="dashboard-card">

      <%= link_to t('edit'), edit_profile_path(@user), class: "btn btn-primary" %>

      <h2><%= t('.personal-information') %></h2>
      <p><%= t('.email_html', email: @user.email) %></p>
      <p><%= t('.phone_number_html', phone_number: @user.phone_number) %></p>
      <p><%= t('.gender_html', gender: @user.gender) %></p>
      <p><%= t('.date_of_birth_html')%> <%= l(@user.date_of_birth, format: :day_month_year) unless @user.date_of_birth.nil? %></p>
      <p> <strong> <%= t('.description')%>: </strong> <%= @user.description %></p>


      <div class="divider"></div>

      <h2><%= t('.verification_information') %></h2>
      <p><strong><%= t('.linkedin_url') %>:</strong> <%= @user.linkedin_url %></p>
      <p><strong><%= t('.facebook_url') %>:</strong> <%= @user.facebook_url %></p>
      <p><strong><%= t('.bank_account') %>:</strong> <%= @user.bank_account %></p>
      <p><strong><%= t('.id_uploaded') %>:</strong> <%= @user.id_document ? t('.yes') : t('.no')   %></p>


      <div class="divider"></div>




    </div>
  </div>
</div>
