@imparted_hour<div class="row">

  <div class="col-xs-12">
      <h2 class="text-center"><%= t('.your_bookings_as_teacher') %></h2>
      <% current_user.cars[0].journeys.each do |journey| %>
        <div class="product dashboard-card">
          <% if journey.user.photo? %>
          <%= cl_image_tag journey.user.photo.path, { class: "product-image hidden-xs"} %>
          <% else %>
          <% avatar_url = journey.user.facebook_picture_url || "http://placehold.it/200x200" %>
          <%= cl_image_tag avatar_url, { class: "product-image hidden-xs"} %>

          <% end %>
          <div class='product-body'>
            <p> <%= journey.user.first_name.capitalize %> <%= journey.user.last_name.capitalize %> </p>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('.location') %>:<%= journey.address %> </li>
              <li> <i class="fa fa-money" aria-hidden="true"></i>  <%= t('.price') %>:€ <%= journey.car.price_hour.to_i %>/hr</li>
              <li> <i class="fa fa-users" aria-hidden="true"></i  >  <%= t('.children') %>: <%= journey.remaining_seats %> </li>
                
              <% if journey.imparted_hours.first %>
                <% h = Order.calculate_not_paid_minutes(journey) %>
                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= t('.total_hours') %>: <%=  convert_to_hours(h[:total_minutes]) %> </li>
                <li> <i class="fa fa-calendar" aria-hidden="true"></i>  <%= t('.hours_paid') %>: <%=  convert_to_hours(h[:minutes_paid]) %> </li>
                <li> <i class="fa fa-calendar-times-o" aria-hidden="true"></i>  <%= t('.hours_not_paid') %>: <%= convert_to_hours(h[:minutes_not_paid]) %> </li>
                <%= link_to I18n.t('profiles.dashboard.journey.send_invoice'), new_journey_order_path(journey), class: 'btn btn-danger custom-btn-width', id:"submit-order" %>
              <% end %>
              
            </ul>
            <ul>
              <il>
                <%= simple_form_for [journey] do |f| %>

                    <% if journey.completed && journey.passengers[0].present?  %>

                      <div class='padded-small'>
                          <% journey.passengers[0].driver_rating.times do %>
                            <%= image_tag "yellow-rating.png" %>
                          <% end %>
                          <% (5 - journey.passengers[0].driver_rating).times do %>
                            <%= image_tag "empty-rating.png" %>
                          <% end %>
                      </div>

                      <%= f.hidden_field :completed, :value => false %>
                      <%= f.submit I18n.t('.completed', default: 'Completed' ), class: 'btn btn-success custom-btn-width' %>
                    <% else %>

                      <%= link_to I18n.t('.Edit_booking', default: 'Edit Booking' ), edit_journey_path(journey), class: 'btn btn-primary custom-btn-width' %>
                      <%= link_to I18n.t('profiles.dashboard.journey.history'), journey_imparted_hours_path(journey), class: 'btn btn-success custom-btn-width' %>
                      <%= link_to I18n.t('.Cancel_booking', default: 'Cancel Booking' ), journey_path(journey), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger custom-btn-width' %>  
                       
                   <% end %>
                <% end %>
              </il>
                
            </ul>
            
            
          </div>
          
          <div class="col-xs-4 text-center">
            <p> <%= t('.add_hours') %> </p>
            <%= simple_form_for [journey, @imparted_hour], url: journey_imparted_hours_path(journey) do |f| %>
              <%= f.error_notification %>
              
              <%= f.input :minutes, label: I18n.t('profiles.dashboard.journey.minutes' ) %>
              <%= f.input :date, label: I18n.t('profiles.dashboard.journey.date'), as: :datetime_picker %>
              <%= f.submit I18n.t('profiles.dashboard.journey.new_entry' ), class: 'btn btn-warning', id:"submit-imparted-hours" %>
              
            <% end %>
            
          </div>
        </div>
      <% end %>
  </div>


</div>
