<div class="row">

  <div class="col-xs-12">
      <h2 class="text-center"><%= t('.your_bookings') %></h2>
      <% current_user.journeys.each do |journey| %>
        <div class="product dashboard-card">
          <% if journey.car.user.photo? %>
          <%= cl_image_tag journey.car.user.photo.path, { class: "product-image hidden-xs"} %>
          <% else %>
          <% avatar_url = journey.car.user.facebook_picture_url || "https://s3-us-west-2.amazonaws.com/colorbuffs/user_data/images/profile/default/default-user.png" %>
          <%= cl_image_tag avatar_url, { class: "product-image hidden-xs"} %>
          <% end %>

          <div class='product-body'>
            <p> <%= journey.car.user.first_name.capitalize %> <%= journey.car.user.last_name.capitalize %> </p>
            <ul>
              <!-- <li><i class="fa fa-calendar" aria-hidden="true"></i>  <%#= l(journey.pick_up_time, format: :time_date) %></li> -->
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('.location') %>:<%= journey.address %> </li>
              <li> <i class="fa fa-money" aria-hidden="true"></i>  <%= t('.price') %>:€ <%= journey.car.price_hour.to_i %>/hr</li>
              <!-- <li> <i class="fa fa-clock-o" aria-hidden="true"></i>  <%#= t('.duration') %>:<%= journey.duration %> h </li> -->
              <li> <i class="fa fa-users" aria-hidden="true"></i  >  <%= t('.children') %>: <%= journey.remaining_seats %> </li>
            </ul>
            <ul>
              <li>
                <% if journey.passengers[0].nil? %>
                <%= link_to I18n.t('.write_review', default: 'Write Review' ), new_journey_passenger_path(journey) , class: 'btn btn-primary custom-btn-width' %>
                <% end %>
              </li>
              <il>
                <%= simple_form_for [journey] do |f| %>

                    <% if journey.completed %>

                      <div class='padded-small'>
                          <% if journey.passengers[0] %>
                            <% journey.passengers[0].driver_rating.times do %>
                              <%= image_tag "yellow-rating.png" %>
                            <% end %>
                            <% (5 - journey.passengers[0].driver_rating).times do %>
                              <%= image_tag "empty-rating.png" %>
                          <% end %>
                       <% end %>
                      </div>

                      <%= f.hidden_field :completed, :value => false %>
                      <%= f.submit I18n.t('.completed', default: 'Completed' ), class: 'btn btn-success custom-btn-width' %>
                    <% else %>
                      <%= f.hidden_field :completed, :value => true %>
                      <%= f.submit I18n.t('.Mark_as_Completed', default:'Mark as Completed' ), class: 'btn btn-primary custom-btn-width' %>


                       <%= link_to I18n.t('.Edit_booking', default: 'Edit Booking' ), edit_journey_path(journey), class: 'btn btn-primary custom-btn-width' %>
                       <%= link_to I18n.t('.Cancel_booking', default: 'Cancel Booking' ), journey_path(journey), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger custom-btn-width' %>
                   <% end %>
                <% end %>
              </il>
            </ul>
          </div>
          <%#= link_to "", edit_journey_path(journey), class: "product-link" %>
        </div>
      <% end %>
  </div>


</div>
