<div class="row">
  <div class="col-xs-12">
    <% unless @journeys_as_passenger.empty? %>
      <h2 class="text-center"><%= t('passenger-journeys') %></h2>
      <% @journeys_as_passenger.each do |journey| %>
        <div class="product dashboard-card">
          <% if journey.car.photo? %>
            <%= cl_image_tag journey.car.photo.path, { class: "product-image hidden-xs"} %>
          <% end %>
          <div class='product-body'>
            <p><i class="fi-clock"></i> <%= l(journey.pick_up_time, format: :time_date)%> </p>

            <ul>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>  <%= t('pick_up_location_html', location: journey.pick_up_location.address) %></li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('destination_html', location: journey.drop_off_location.address) %></li>
              <li> <i class="fa fa-money" aria-hidden="true"></i>  <%= t('driver_name_html', name: journey.user.full_name) %></li>
              <li> <i class="fa fa-cutlery" aria-hidden="true"></i>  <%= t("vehicle_html", make: journey.car.make, name: journey.car.name) %></li>
              <li> <i class="fa fa-users" aria-hidden="true"></i>  <%= t('seats_available_html', seats_available: journey.remaining_seats) %> </li>
            </ul>
            <% remove_passenger = journey.passengers.where(user: current_user)[0] %>
            <%= link_to 'Cancel booking', journey_passenger_path(journey_id: journey, id: remove_passenger.id), data: { confirm: 'Are you sure?' }, method: :delete %>
          </div>
          <%= link_to "", journey_path(journey), class: "product-link" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <% unless @journeys_as_driver.empty? %>
      <h2 class="text-center"><%= t('driver_journeys') %></h2>
      <% @journeys_as_driver.each do |journey| %>
        <div class="product dashboard-card">
          <% if journey.car.photo? %>
            <%= cl_image_tag journey.car.photo.path, { class: "product-image hidden-xs"} %>
          <% end %>
          <div class='product-body'>
            <p> <%= l(journey.pick_up_time, format: :time_date)%> </p>
            <ul>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>  <%= t('pick_up_location_html', location: journey.pick_up_location.address) %></li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('destination_html', location: journey.drop_off_location.address) %></li>
              <li> <i class="fa fa-money" aria-hidden="true"></i>  <%= t('num_of_passengers_html') %> <%= journey.passengers.count %></li>
              <li> <i class="fa fa-cutlery" aria-hidden="true"></i>  <%= t("vehicle_html", make: journey.car.make, name: journey.car.name) %></li>
              <li> <i class="fa fa-users" aria-hidden="true"></i  >  <%= t('seats_available_html', seats_available: journey.remaining_seats) %> </li>
            </ul>
            <%= simple_form_for [journey] do |f| %>
              <%= f.hidden_field :completed, :value => true %>
              <%= f.submit "Mark as Completed", class: 'btn-booking' %>
            <% end %>
          </div>
          <%= link_to "", journey_path(journey), class: "product-link" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
