<div class="overview-header">
  <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, class: "avatar-large header-img" %>
  <% else %>
    <%= image_tag "http://placehold.it/100x100", class: "avatar-large header-img" %>
  <% end %>
  <div class="header-info">
    <h3><%= @user.full_name %></h3>
    <%= link_to "View public profile", profile_path(@user) %>
  </div>
  <div class="header-progress">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @progress %>"
      aria-valuemin="0" aria-valuemax="100" style="width:<%=@progress.to_i%>%" id="account-progress">
      <span id="progress"><%= @progress %></span>% Complete
      </div>
    </div>
  </div>
</div>
