

<div class="row">
  <div class="col-xs-12 col-sm-4 hidden-xs">
    <div class="dashboard-card">
      <% if @progress < 100 %>
        <p class="text-left" id="manual_info"><%= t('.verification', progress: @progress.to_s) %></p>
      <% end %>

      <div class="<%= @email_verified ? 'verified' : "unverified" %>" id="email">
        <p>
          <%= t('.email_verified')%>
          <% if @email_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @photo_verified ? 'verified' : "unverified" %>" id="photo">
        <p>
          <%= t('.photo_verified')%>
          <% if @photo_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @address_verified ? 'verified' : "unverified" %>" id="address">
        <p>
          <%= t('.address_verified')%>
          <% if @address_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @availability_verified ? 'verified' : "unverified" %>" id="availability">
        <p>
          <%= t('.availability_verified')%>
          <% if @availability_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @upload_video ? 'verified' : "unverified" %>" id="upload_video">
        <p>
          <%= t('.uploaded_video')%>
          <% if @upload_video %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @facebook_URL_verified ? 'verified' : "unverified" %>" id="facebook_URL">
        <p>
          <%= t('.facebook_check')%>
          <% if @facebook_URL_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @linkedin_URL_verified ? 'verified' : "unverified" %>" id="linkedin_URL">
        <p>
          <%= t('.linkedin_check')%>
          <% if @linkedin_URL_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @id_document_verified ? 'verified' : "unverified" %>" id="id_document">
        <p>
          <%= t('.id_document_verified')%>
          <% if @id_document_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>
      <div class="<%= @bank_verified ? 'verified' : "unverified" %>" id="bank">
        <p>
          <%= t('.bank_verified')%>
          <% if @bank_verified %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </p>
      </div>

      <h2 class="text-center" id="manual_info"><%= t('.summary') %></h2>

      <div class="stats row">
        <div class="col-xs-4">
          <h3> <%= @journeys.count %> </h3>
          <p> bookings </p>
        </div>
        <div class="col-xs-4">
          <h3><%= @kids  %></h3>
          <p> kids to date </p>
        </div>
        <div class="col-xs-4">
          <h3> <%= @user.cars[0].price_hour %>   </h3>
          <p> Pricer x hour </p>
        </div>
      </div>

      <div class="stats">
        <div class="col-xs-4">
          <h3> <%= @avg_rating %></h3>
          <p>Average rating review  </p>
        </div>
        <div class="col-xs-4">
          <h3> <%= @ratings.count %> </h3>
          <p> number of reviews </p>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xs-12 col-sm-8 text-center" id="manual_info">
    <% if @manual_check == false %>
        <p> <%= t(".id_process") %> </p>
    <% end %>

    <% if @availability_verified == nil || @availability_verified == false %>
      <div class="dashboard-card timetable-card">
      <%= link_to t('.create_avaliability'), new_car_availability_path(@user.cars[0]), class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="dashboard-card timetable-card">
      <%= render 'profiles/dashboard/overview_free_time' %>
      </div>
     <%= link_to t('.add_avaliability'), new_car_availability_path(@user.cars[0]), class: "btn btn-primary" %>
     <%= t('click_times_to_delete') %>
    <% end %>


         <%# if @reviews.length > 0 %>
      <div class="dashboard-card" >

         <h2>Reviews</h2>
         <% if @avg_rating.nil? %>
           <p><%= t('.no_reviews') %></p>
         <% else %>
               <% @avg_rating.times do %>
                 <%= image_tag "yellow-rating.png" %>
               <% end %>
               <% (5 - @avg_rating).times do %>
                 <%= image_tag "empty-rating.png" %>
               <% end %>

              <h4> <strong> <%= t('.reviews') %> </strong> </h4>
              <% @passengers.each do |passenger| %>
              <ul >
                <li>
                  <% passenger.driver_rating.times do |i|  %>
                  <i class="fa fa-star" style="color:#cccc00;" aria-hidden="true"></i>
                  <% end %>
                  <% (5-passenger.driver_rating).times do |i|  %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>

                </ul>
                <div class='media'>
                  <div class='pull-left'>
                    <% if passenger.user.photo? %>
                    <%= cl_image_tag passenger.user.photo.path, width: 60, height: 60, crop: :thumb, gravity: :face , class: "" %>
                    <% else %>
                    <% avatar_url = passenger.user.facebook_picture_url || "http://placehold.it/60x60" %>
                    <%= image_tag avatar_url, width: 60, height: 60, crop: :thumb, gravity: :face, class: "" %>
                    <% end %>

                  </div>
                <div class='media-body'>
                  <div class='content staff'>
                    <div class='toolbar'>
                        <h4 class='title'>
                          <%= passenger.user.first_name.capitalize %>
                          <span class='label label-contrast'>Staff</span>
                        </h4>
                    </div>
                      <p><%= passenger.driver_review %> </li> </p>
                      <p class='time'>
                        <%= l passenger.created_at, format: :short %>
                      </p>
                  </div>
                  </div>
                </div>
               <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
