<h4 class="text-center"> <%= t("views.profiles.dashboard._overview-header.teachers_dashboard") %> </h4>
<div class="overview-header">
  <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, width: 200, height: 200, crop: :thumb, gravity: :face , class: "avatar-large header-img" %>
  <% else %>
    <% avatar_url = @user.facebook_picture_url || "http://placehold.it/100x100" %>
    <%= image_tag avatar_url, class: "avatar-large header-img" %>
  <% end %>
  <div class="header-info">
    <h3><%= @user.full_name %></h3>
    <% if @teacher %>
    <%= link_to t(".view_teacher_profile"), teacher_profile_path(@user.cars[0]) %>
     <% end %>
  </div>
    <% if @teacher %>
      <div class="header-progress">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @progress %>"
          aria-valuemin="0" aria-valuemax="100" style="width:<%=@progress.to_i%>%" id="account-progress">
          <span id="progress"><%= @progress %></span>% <%= t('.complete') %>
          </div>
        </div>
      </div>
   <% end %>
</div>
