
<p> <%= t(".Teacher's availablity") %> </p>

<table class="table" >
  <thead >
    <tr>
    <% Availability::DAYS.each do |d| %>
      <th> <%= d %>  </th>
      <% end %>
    </tr>
  </thead>


<tbody >
      <% c1 = 0 %>
      <% c2 = 0 %>
      <% c3 = 0 %>
      <% c4 = 0 %>
      <% c5 = 0 %>
      <% c6 = 0 %>
      <% c7 = 0 %>

      <% 2.times do %>

        <tr>
        <td>
        <% @days[0].each do |t| %>
          <% if t != nil && c1 == 0 %>

              <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
              <div>
                <p> from <%= l t.start, format: :time %> </p>
                <p> to <%= l t.finish, format: :time %> </p>
              </div>
              <% end %>
            <% c1 += 1  %>
          <% elsif t != nil && c1 == 1 %>
            <% c1 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[1].each do |t| %>
          <% if t != nil && c2 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c2 += 1  %>
          <% elsif t != nil && c2 == 1 %>
            <% c2 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[2].each do |t| %>
          <% if t != nil && c3 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c3 += 1  %>
          <% elsif t != nil && c3 == 1 %>
            <% c3 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[3].each do |t| %>
          <% if t != nil && c4 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c4 += 1  %>
          <% elsif t != nil && c4 == 1 %>
            <% c4 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[4].each do |t| %>
          <% if t != nil && c5 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c5 += 1  %>
          <% elsif t != nil && c5 == 1 %>
            <% c5 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[5].each do |t| %>
          <% if t != nil && c6 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c6 += 1  %>
          <% elsif t != nil && c6 == 1 %>
            <% c6 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[6].each do |t| %>
          <% if t != nil && c7 == 0 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l t.start, format: :time %> </p>
              <p> to <%= l t.finish, format: :time %> </p>
            </div>
            <% end %>
            <% c7 += 1  %>
          <% elsif t != nil && c7 == 1 %>
            <% c7 += 1  %>
         <% end %>
        <% end %>
        </td>

        </tr>
      <% end %>

  </tbody>


  <tbody id="second-row-table">

        <% c1 -= 1 if c1 >= 1 %>
        <% c2 -= 1 if c2 >= 1 %>
        <% c3 -= 1 if c3 >= 1 %>
        <% c4 -= 1 if c4 >= 1 %>
        <% c5 -= 1 if c5 >= 1 %>
        <% c6 -= 1 if c6 >= 1 %>
        <% c7 -= 1 if c7 >= 1 %>

             <% 2.times do %>
        <tr>
        <td>
        <% @days[0].each do |t| %>
          <% if @days[0][c1] != nil && c1 == 1 %>

            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[0][c1].start, format: :time %> </p>
              <p> to <%= l @days[0][c1].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
          <% elsif t != nil && c1 == 2 %>
            <% c1 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[1].each do |t| %>
          <% if @days[1][c2] != nil && c2 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div >
              <p> from <%= l @days[1][c2].start, format: :time %> </p>
              <p> to <%= l @days[1][c2].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c2 += 1  %>
          <% elsif t != nil && c2 == 2 %>
            <% c2 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[2].each do |t| %>
          <% if @days[2][c3] != nil && c3 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[2][c3].start, format: :time %> </p>
              <p> to <%= l @days[2][c3].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c3 += 1  %>
          <% elsif t != nil && c3 == 2 %>
            <% c3 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[3].each do |t| %>
          <% if @days[3][c4] != nil && c4 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[3][c4].start, format: :time %> </p>
              <p> to <%= l @days[3][c4].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c4 += 1  %>
          <% elsif t != nil && c4 == 2 %>
            <% c4 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[4].each do |t| %>
          <% if @days[4][c5] != nil && c5 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[4][c5].start, format: :time %> </p>
              <p> to <%= l @days[4][c5].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c5 += 1  %>
          <% elsif t != nil && c5 == 2 %>
            <% c5 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[5].each do |t| %>
          <% if @days[5][c6] != nil && c6 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[5][c6].start, format: :time %> </p>
              <p> to <%= l @days[5][c6].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c6 += 1  %>
          <% elsif t != nil && c6 == 2 %>
            <% c6 += 1  %>
         <% end %>
        <% end %>
        </td>

        <td>
        <% @days[6].each do |t| %>
          <% if @days[6][c7] != nil && c7 == 1 %>
            <%= link_to car_availability_path(@car[0].id, t), method: :delete, :id => "text-times" do %>
            <div>
              <p> from <%= l @days[6][c7].start, format: :time %> </p>
              <p> to <%= l @days[6][c7].finish, format: :time %> </p>
            </div>
            <% end %>
            <% c1 += 1  %>
            <% c7 += 1  %>
          <% elsif t != nil && c7 == 2 %>
            <% c7 += 1  %>
         <% end %>
        <% end %>
        </td>

        </tr>
      <% end %>

  </tbody>

</table>

<p> <%= t('click_to_delete_times') %> </p>
