<div class="row">
  <div class="col-xs-12 col-sm-4 hidden-xs">
    <div class="dashboard-card">
      <h2>Verification</h2>

      <%= hidden_field_tag "email_verification", @email_verification, { :id => "email-verification" } %>
      <%= hidden_field_tag "payment_verification", @payment_verification, { :id => "payment-verification" } %>
      <%= hidden_field_tag "student_id_verification", @student_id_verification, { :id => "student-id-verification" } %>
      <%= hidden_field_tag "car_verification", @car_verification, { :id => "car-verification" } %>

      <div class="unverified" id="email"><p>Email verification</p></div>
      <div class="unverified" id="payment"><p>Payment verification</p></div>
      <div class="unverified" id="student_id"><p>Student ID verification</p></div>
      <div class="unverified" id="car"><p>Car verification</p></div>

      <h2>Journey stats</h2>
      <p>No. of journeys: </p>
      <p>Avg. journey time:</p>
      <p>Miles travelled: </p>
      <h2>Preferences</h2>
      <p>Music: </p>
      <p>Talking: </p>
      <p>Smoking: </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="dashboard-card car-card text-center">
      <h2>Car details</h2>
      <% if @user.cars.empty? %>
        <p>You haven't uploaded your car details yet!</p>
        <%= link_to "Add your car detials", new_car_path, class: "btn btn-primary" %>
      <% else %>
        <% @user.cars.each do |car| %>
          <p>Make: <%= car.make %></p>
          <p>Model: <%= car.name %></p>
          <p>Colour: <%= car.colour %></p>
          <p>Licence: <%= car.vrn %></p>
        <% end %>
      <% end %>
    </div>
    <div class="dashboard-card review-card text-center">
      <h2>Reviews</h2>
      <% if @avg_rating == 0 %>
        <p>You haven't been reviewed yet!</p>
      <% else %>
        <p>Rating: <%= @avg_rating %> </p>
        <% @avg_rating.times do %>
          <%= image_tag "yellow-rating.png" %>
        <% end %>
        <% (5 - @avg_rating).times do %>
          <%= image_tag "empty-rating.png" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
