<p> <%= t('.hello') %> <%= @user.first_name %>,</p>

<p> <%= t('.Thank_you_for_signing_up!') %> !</p>

<p> <%= t('.Take_your_time_to_explore_our_website_to_fully_utilise_all_our_amazing_features') %>.</p>

<p><%= t('.we_provide_a_system_to_find_realiable_teachers') %> </p>

<p><%= t('.If_you_have_any_questions_please_do_not_hesitate_to_ask') %> </p>

<p><%= t('.thanks') %>,</p>

<p> <%= link_to t('.see_our_teachers'), cars_url %> </p>

