<div class="teacher-profile-top">
<div class="row">
  <div class="col-xs-12">


<div class="public-profile">

  <div class="left-column text-center">
    <% if @car.user.photo? %>
      <%= cl_image_tag @car.user.photo.path, width: 200, height: 200, crop: :thumb, gravity: :face , class: "responsive-avatar text-center-xs" %>
    <% else %>
      <% avatar_url = @car.user.facebook_picture_url || "http://placehold.it/200x200" %>
      <%= image_tag avatar_url, class: "responsive-avatar text-center-xs" %>
    <% end %>

  </div>
      <div class="right-column">
            <h4> <%= @car.user.first_name.capitalize %> <%= @car.user.last_name.capitalize %></h4>

            <p>
            <i class="fa fa-eur" aria-hidden="true"></i>
            <%= @car.price_hour %>/hr
            </p>

            <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
             <%= @car.user.address %>
            </p>

            <ul >
                <li>
                  <% @avg_rating.times do |i|  %>
                  <i class="fa fa-star" style="color:#cccc00;" aria-hidden="true"></i>
                  <% end %>
                  <% (5-@avg_rating).times do |i|  %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>
                <li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-4 text-center">

 </div>
</div>
</div>
