<div class="navbar-wagon navbar-wagon-home">
 <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "vero/logo.png" %>
  <% end %>
  <!-- Logo -->

  
  <div class="navbar-wagon-right">
    <%= link_to t(".sign_in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to url_for( :locale => 'es') do %>
      <%= image_tag "flags/Spain_flag.png", class: "flags" %>
    <% end %>
    <%= link_to url_for( :locale => 'en') do %>
      <%= image_tag "flags/UK_flag.png", class: "flags" %>
    <% end %>
    
    <% if @articles %>
      <%= link_to t(".blog"), articles_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

</div>

