<% if user_signed_in? %>
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "vero/logo.png" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs">

      <!-- Search form -->

      <!-- <form action="cars_path" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="<%= t(".search_for_teacher") %>">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form> -->

      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>

        <!-- Notification -->
       <%#= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
          <!-- <div class="badge-container"> -->
            <!-- <i class="fa fa-envelope-o"></i> -->
            <!-- <div class="badge badge-blue">3</div> -->
          <!-- </div> -->

        <%# end %>

        <%= link_to dashboard_path, class: "navbar-wagon-item navbar-wagon-link" do %>
          <div class="badge-container">
            <i class="fa fa-tachometer"></i> </div>
        <% end %>

        <!-- Profile picture and dropdown -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <% if current_user.photo? %>


              <%= cl_image_tag current_user.photo.path, width: 200, height: 200, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to edit_profile_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to dashboard_path do %>
                  <i class="fa fa-tachometer"></i>  <%= t(".dashboard", default: "Dashboard") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      <% else %>

        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

      <% end %>

      <% if current_user != nil && current_user.admin? %>
        <%= link_to "Admin", "/admin", class: "navbar-wagon-item btn btn-primary" %>
      <% else %>

      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
      <% if user_signed_in? %>
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_profile_path(current_user)  do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-tachometer"></i>  <%= t(".dashboard", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render "shared/home_navbar" %>
<% end %>


