
<!-- <div class="banner"> -->
  <div class="banner-container container text-center">
    <div class="row">
      <h1> SHOTGUN </h1>
      <h2> The first carsharing service of Warwick University </h2>
      <h3>Save Money, Time and Stress </h3>
      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">
          <div class="thumbnail">
            <%= image_tag "students.jpg", {class: "responsive-img"} %>
            <div class="caption">
                <h3>PASSENGER</h3>
                <p>YOU ARE A BUS WANKER?</p>
                <p><%= link_to "Jump on!", journeys_path, {class: "btn btn-primary"} %></p>
            </div> <!-- end of caption -->
          </div> <!-- end of thumbnail -->
        </div> <!-- end of user-card-home -->
      </div> <!-- end of first col -->

      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">
          <div class="thumbnail">
            <%= image_tag "driver.jpg", {class: "responsive-img"} %>
            <div class="caption">
              <h3>DRIVER</h3>
              <p>YOU ARE A DRIVER?</p>
              <% if user_signed_in? && @car != nil %>
              <p><%= link_to "On the road again", new_car_journey_path(@car), {class: "btn btn-primary"} %>
              <% elsif policy(Car).create? %>
              <p><%= link_to "On the road again", new_car_path, {class: "btn btn-primary"} %>
              <% else %>
              <p><%= link_to "On the road again", new_user_registration_path, {class: "btn btn-primary"} %></p>
              <% end %>
            </div> <!-- end of caption -->
          </div> <!-- end of thumbnail -->
        </div> <!-- end of user-card-home -->
      </div> <!-- end of second col -->

    </div> <!-- end of row -->
  </div> <!-- end of banner-container -->
<!-- </div> end of banner -->

<div class="wrapper text-center">
  <div class="container">
    <div class="row">
    <h2> How it works? </h2>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="first ">
          <%= image_tag "lift.jpg", class:"responsive-img" %>
            <h2>STEP 1</h2>
            <p>Find/Propose a lift</p>
        </div> <!-- end of first  -->
      </div> <!-- end of col 2 -->

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="middle">
          <%= image_tag "pickup.jpg", class:"responsive-img" %>
          <h2>STEP 2</h2>
          <p>jump on!/pick up!</p>
        </div> <!-- end of middle -->
      </div> <!-- end of col 3 -->

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="last">
          <%= image_tag "uni.jpg", class:"responsive-img" %>
          <h2>STEP 3</h2>
          <p>go to Uni</p>
        </div> <!-- end of last -->
      </div> <!-- end of col 3 -->

    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of wrapper -->

<div class="wrapper-user-testify" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "Car-driver.jpg" %>');">
  <div class="container padded">

    <div class="row">
     <div class="col-xs-12 col-sm-6 padding-ajustment">
      <div class="user-card" id="review">
        <div class="user-card-info">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= image_tag "http://placehold.it/200x200", class:"responsive-img" %>
          </div> <!-- end of col 1.3 -->
          <div class="col-xs-12 col-sm-6">
            <h3> Jean-claude from Belgium </h3>
            <p> "Amazing" </p>
          </div> <!-- end of col 1.2 -->
          </div> <!-- end of row 1.2 -->
        </div> <!-- end of user-card-info -->
      </div> <!-- end of user-card -->
    </div> <!-- end of col 1.1 -->
  </div><!-- end of row 1.1 -->


    <div class="row">
      <div class="col-xs-12 col-sm-6 padding-ajustment">
      <div class="user-card" id="review">
        <div class="user-card-info">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= image_tag "http://placehold.it/200x200", class: "responsive-img" %>
            </div> <!-- end of col 2.3 -->
            <div class="col-xs-12 col-sm-6">
              <h3> Paul de Pologne </h3>
              <p class="p-quote"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> <!-- end of col 2.2 -->
          </div> <!-- end of row 2.2 -->
        </div> <!-- end of user-card-info -->
      </div> <!-- end of user-card -->
      </div> <!-- end of col 2.1 -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col-xs-12 col-sm-6 padding-ajustment">
        <div class="user-card" id="review">
          <div class="user-card-info">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <%= image_tag "http://placehold.it/200X200", class: "responsive-img" %>
              </div> <!-- end of col-3.3 -->
              <div class="col-xs-12 col-sm-6">
                <h3> Luke breen from Birmingham </h3>
                <p> "Luke Breen approve this service!" </p>
              </div> <!-- end of col-3.2 -->
            </div> <!-- end of row 3.2 -->
          </div> <!-- end of user-card-info 3 -->
        </div> <!-- end of user-card 3 -->
      </div> <!-- end of col 3.1 -->
    </div> <!-- end of row 3 -->

    <div class="row">
      <div class="col-xs-12 col-sm-6 padding-ajustment">
        <div class="user-card" id="review">
          <div class="user-card-info">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <%= image_tag "http://placehold.it/200x200", class:"responsive-img" %>
              </div> <!-- end of col 4.3 -->
              <div class="col-xs-12 col-sm-6">
                <h3> DJ Jordi from Spain</h3>
                <p> "Cheap but i really enjoy the music" </p>
              </div> <!-- end of col 4.2 -->
            </div> <!-- end of row 3.2 -->
          </div> <!-- end of user-card-info -->
        </div> <!-- end of user-card -->
      </div> <!-- end of col 4.1 -->
    </div> <!-- end of row -->

  </div> <!-- end of container -->
</div> <!-- end of wrapper-user-->
