<% content_for :title, "LiftIn" %>
<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.79)), url('<%= image_path "Car-driver.jpg" %>');">
  <div class="banner-content">
    <h1><%= t('.title') %></h1>
    <p><%= t('.subtitle') %> </p>
    <div class="cta">
      <%= link_to t('.passenger_call_to_action') , journeys_path, {class: "btn btn-primary"} %>
      <% if user_signed_in? && @user.cars.count != 0 %>
      <%= link_to t('.driver_call_to_action'), new_car_journey_path(@user.cars[0].id), {class: "btn btn-primary"} %>
      <% elsif policy(Car).create? %>
      <%= link_to t('.driver_call_to_action'), new_car_path, {class: "btn btn-primary"} %>
      <% else %>
      <%= link_to t('.driver_call_to_action'), new_user_registration_path, {class: "btn btn-primary"} %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper text-center" id="how-it-works">
  <div class="container">
    <div class="row">
    <h2><%= t('.how_it_works') %></h2>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="first ">
          <%= image_tag "lift.jpg", class:"responsive-img" %>
            <h3><span>1</span></h3>
            <p><%= t('.step_one_explanation')%></p>
        </div> <!-- end of first  -->
      </div> <!-- end of col 2 -->

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="middle">
          <%= image_tag "pickup.jpg", class:"responsive-img" %>
          <h3><span>2</span></h3>
          <p><%= t('.step_two_explanation')%></p>
        </div> <!-- end of middle -->
      </div> <!-- end of col 3 -->

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="last">
          <%= image_tag "uni.jpg", class:"responsive-img" %>
          <h3><span>3</span></h3>
          <p><%= t('.step_three_explanation')%></p>
        </div> <!-- end of last -->
      </div> <!-- end of col 3 -->

    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of wrapper -->

  <div class="banner-container container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">
          <div class="thumbnail">
            <%= image_tag "students.jpg", {class: "responsive-img"} %>
            <div class="caption">
                <h3><%= t('.passenger')%></h3>
                <p><%= t('.passenger_subtitle')%></p>
                <p><%= link_to t('.passenger_call_to_action'), journeys_path, {class: "btn btn-primary"} %></p>
            </div> <!-- end of caption -->
          </div> <!-- end of thumbnail -->
        </div> <!-- end of user-card-home -->
      </div> <!-- end of first col -->

      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">
          <div class="thumbnail">
            <%= image_tag "driver.jpg", {class: "responsive-img"} %>
            <div class="caption">
              <h3><%= t('.driver')%></h3>
              <p><%= t('.driver_subtitle')%></p>
              <% if user_signed_in? && @user.cars.count != 0 %>
              <p><%= link_to t('.driver_call_to_action'), new_car_journey_path(@user.cars[0].id), {class: "btn btn-primary"} %>
              <% elsif policy(Car).create? %>
              <p><%= link_to t('.driver_call_to_action'), new_car_path, {class: "btn btn-primary"} %>
              <% else %>
              <p><%= link_to t('.driver_call_to_action'), new_user_registration_path, {class: "btn btn-primary"} %></p>
              <% end %>
            </div> <!-- end of caption -->
          </div> <!-- end of thumbnail -->
        </div> <!-- end of user-card-home -->
      </div> <!-- end of second col -->

    </div> <!-- end of row -->
  </div> <!-- end of banner-container -->
<!-- </div> end of banner -->

<div class="wrapper-user-testify" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "Car-driver.jpg" %>');">
  <div class="container padded">
    <div class="testimonial-carousel">
      <div class="testimonial-carousel-item">
        <div class="user-card">
          <div class="testimonial-header">
            <div>
              <p>Really affordable and I met my girlfriend through LiftIn!</p>
              <ul class="list-inline">
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
              </ul>
            </div>
          </div>
          <div class="testimonial-footer">
            <%= image_tag "nico.jpg", class:"responsive-img", style: "width: 200px; border-radius: 50%;" %>
            <h3>Nico from London</h3>
          </div>
        </div> <!-- end of user-card -->
      </div>
      <div class="testimonial-carousel-item">
        <div class="user-card">
          <div class="testimonial-header">
            <div>
              <p>Amazing service, I'll never have to take the bus again. Yiha!!</p>
              <ul class="list-inline">
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
              </ul>
            </div>
          </div>
          <div class="testimonial-footer">
            <%= image_tag "Bob-Ross.jpg", class:"responsive-img", style: "width: 200px; border-radius: 50%;" %>
            <h3><%= t('.testimonial_one_name') %></h3>
          </div>
        </div> <!-- end of user-card -->
      </div>
      <div class="testimonial-carousel-item">
        <div class="user-card">
          <div class="testimonial-header">
            <div>
              <p>Is great to have company and people to share fuel costs with in my car</p>
              <ul class="list-inline">
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
              </ul>
            </div>
          </div>
          <div class="testimonial-footer">
            <%= image_tag "Luke.jpg", class:"responsive-img", style: "width: 200px; border-radius: 50%;" %>
            <h3><%= t('.testimonial_one_name') %></h3>
          </div>
        </div> <!-- end of user-card -->
      </div>
      <div class="testimonial-carousel-item">
        <div class="user-card">
          <div class="testimonial-header">
            <div>
              <p>LiftIn is fantastic, plus I get to listen to so much great music!</p>
              <ul class="list-inline">
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
                <li> <i class="fa fa-star" style="color: #ffef00; font-size: 24px;"></i> </li>
              </ul>
            </div>
          </div>
          <div class="testimonial-footer">
            <%= image_tag "Djjordy.jpg", class:"responsive-img", style: "width: 200px; border-radius: 50%;" %>
            <h3>DJ Jordy from Spain</h3>
          </div>
        </div> <!-- end of user-card -->
      </div>
    </div>



  </div> <!-- end of container -->
</div> <!-- end of wrapper-user-->
