
<div class="dashboard-card">

 <hp class="text-center"> </hp>

<%= simple_form_for @passenger, url:  journey_passengers_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :driver_review, label: I18n.t('views.passengers._review_form.write_review' ), :size => 500 %>
  <%= f.input :driver_rating, label: I18n.t('views.passengers._review_form.rating' ), collection: Passenger::RATINGS, prompt: "1 to 5" %>

  <%= f.button :submit, I18n.t('views.passenger.new.comfirm_review', default: 'comfirm_review' ), class: "btn btn-primary" %>

<% end %>

</div>

