<p>Hello <%= @user.first_name %></p>

<p>Your booking to <strong><%= @car.user.first_name %></strong>  <strong><%= l(@journey.pick_up_time, format: :time_date) %></strong> has been UPDATED.</p>



<p><strong>Please see a summary of your booking below:</strong></p>

<p><strong> Parent :</strong> <%= @journey.user.full_name %></p>

<p><strong> Teacher :</strong> <%= @journey.car.user.full_name %></p>

<ul>
    <li><i class="fa fa-calendar" aria-hidden="true"></i> <%= l(@journey.pick_up_time, format: :time_date) %></li>
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t('.location') %>:<%= @journey.address %> </li>
    <li> <i class="fa fa-money" aria-hidden="true"></i>  <%= t('.price') %>: <%= @journey.duration.to_i*@journey.car.price_hour.to_i %></li>
    <li> <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= t('.duration') %>:<%= @journey.duration %> h </li>
    <li> <i class="fa fa-users" aria-hidden="true"></i  >  <%= t('.children') %>: <%= @journey.remaining_seats %> </li>
</ul>


<p> Pleae recommend this teacher to a friend</p>

<p>Thank you for booking with Veronica </p>

<p>Please feel free to contact us with any feedback.</p>

<p>Thanks,</p>


<p><%= link_to 'View the teacher profile', teacher_profile_url(id: @car.id) %></p>
