<%= link_to teacher_profile_path(car.id) do %>

<div class="car-card">
  <div class="row">
    <div class="col-xs-3 text-center">
      <% if car.user.photo? %>
        <%= cl_image_tag car.user.photo.path, width: 200, height: 200, crop: :thumb, gravity: :face , class: "responsive-avatar text-center-xs" %>
      <% else %>
        <% avatar_url = car.user.facebook_picture_url || "http://placehold.it/100x100" %>
        <%= image_tag avatar_url, class: "avatar-xl text-center" %>
      <% end %>

        <% passengers = Passenger.where(journey_id: Journey.where(car: car)) %>
        <% ratings = [] %>
        <% passengers.each do |passenger| %>
          <% unless passenger.driver_rating.nil? %>
          <% ratings << passenger.driver_rating %>
         <% end %>
        <% end %>

        <% avg_rating = ratings.inject(0){|sum,x| sum + x } / ratings.count if ratings.count != 0 %>
        <br>
        <br>
        <ul >
          <li>
            <% avg_rating.times do |i|  %>
            <i class="fa fa-star" style="color:#cccc00;" aria-hidden="true"></i>
            <% end %>
            <% (5-avg_rating).times do |i|  %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          <li>
        </ul>

    </div>
    <div class="col-xs-9">
      <div class="row">
       <div class="col-xs-9">
          <h4> <%= car.user.first_name.capitalize %> <%= car.user.last_name.capitalize %></h4>
          <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>

           <%= car.user.city %>
          </p>
        </div>

        <div class="col-xs-3">
          <p>
            <i class="fa fa-eur" aria-hidden="true"></i>
            <strong> <%= car.price_hour %>/hr </strong>
         </p>
          <p>
            <div class="<%= car.video_URL != "" ? 'verified' : "unverified" %>" id="bank">
            <% if car.video_URL != "" %>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <i class="fa fa-check"></i>
            <% end %>
          </p>
        </div>
      </div>
       <div class="row">
         <div class="col-xs-12">
         <p class='limit-to-x-lines'> <%= car.bio.gsub("[","")  %> </p>
        </div>
         </div>
      </div>
    </div>
  </div>
  <hr class='hr-half'>


  <ul class="list-inline">
    <li>
       <strong> <%= ratings.count %>  </strong> <%= t('.reviews') %>
    </li>
    <li >
      <% journeys = Journey.where(car: car) %>
       <strong> <%= journeys.count %>  </strong> <%= t('bookings') %>
    </li>
    <li>
        <% kids = 0 %>
          <% journeys.each do |journey|%>
          <% kids += journey.seats_available %>
          <% end %>
        <p> <strong>  <%= kids %> </strong><%= t('kids_tought') %></p>
    </li>
    <li>
      <p>
        <% if car.user.facebook_URL != "" %>
        <i class="fa fa-check"></i>
        <%= t('.facebook_check')%>
        <% end %>
      </p>
    </li>
    <li>
      <p>

        <% if car.user.linkedin_URL != "" %>
        <i class="fa fa-check"></i>
          <%= t('.linkedin_check')%>
        <% end %>
      </p>
    </li>
    <li>
      <p>

        <% if car.user.id_document %>
        <i class="fa fa-check"></i>
          <%= t('.id_document_verified')%>
        <% end %>
      </p>
    </li>
    <li >
      <p>

        <% if car.user.bank_account %>
        <i class="fa fa-check"></i>
         <%= t('.bank_verified')%>
        <% end %>
      </p>
    </li>
  </ul>


</div>

<% end%>
