<div class="dashboard-card">

 <hp class="text-center"> </hp>

<%= simple_form_for @car do |f| %>
  <%= f.error_notification %>

  <%= f.input :bio, :size => 150 %>
  <%= f.input :video_URL %>
  <%= f.input :travel_distance %>
  <%= f.input :price_hour %>

  <%= f.button :submit, class: "btn btn-primary wide-btn" %>

<% end %>

</div>
