<h2>Car owner: <%= "#{@car.user.first_name} #{@car.user.last_name}" %></h2>
<ul>
  <li>Make: <%= @car.make %></li>
  <li>Model: <%= @car.name %></li>
  <li>Licence plate: <%= @car.vrn %></li>
  <li>Colour: <%= @car.colour %></li>
</ul>
