<%= link_to journey_path(journey.id) do %>
<div class="user-card" id="review">
  <div class="user-card-info">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <% if journey.user.photo? %>
          <%= cl_image_tag journey.user.photo.path, class: "responsive-avatar text-center-xs" %>
        <% else %>
          <% avatar_url = journey.user.facebook_picture_url || "http://placehold.it/200x200" %>
          <%= image_tag avatar_url, class:"responsive-avatar text-center-xs" %>
        <% end %>
      </div> <!-- end of col 1.3 -->

      <div class="col-xs-12 col-sm-6 padding-ajustment">
        <h3> <%= journey.user.first_name %> </h3>
          <ul>
            <li><strong><%= t('pick_up_time_html') %><%= l(journey.pick_up_time, format: :time ) %></strong></li>
            <li> <%= t('destination_html', location: journey.drop_off_location ) %></li>
            <li> <%= t('seats_available_html'), seats_available: journey.calc_seats_available %></li>
            <li><%= t('.car', make: journey.car.make, name: journey.car.name) %></li>
          </ul>

        <div class="divider"></div>

        <div class="s-user-bubble padding-ajustment">
          <strong><%= t('.preferences') %></strong>
            <ul class= "list-inline">
              <li>
                <p><i class="fi-volume test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= journey.user.music_habits %>"></i></p>
              </li>
              <li>
                <p><i class="fa fa-comment test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= journey.user.speaking_habits %>"></i></p>
              </li>
              <% if journey.user.smoking? %>
                <li>
                  <p><i class="fi-info test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="smoking"></i></p>
                </li>
              <% else %>
                <li>
                  <p><i class="fi-no-smoking test non-smoking" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="no smoking"></i></p>
                </li>
              <% end %>

            </ul>
        </div>

      </div> <!-- end of col 2 -->
    </div> <!-- end of row -->
  </div> <!-- end of user-card-info -->
</div> <!-- end of user-card -->
<% end%>


