
<!-- <% if journey.photos? %>
  <% image = cl_image_path journey.photos[0].path %>
<% else %>
  <% image = 'http://placehol.it/350x150' %>
<% end %> -->


<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= image %>)">

  <div class="card-category">Journey</div>
    <div class="card-description">
      <h2> <%= journey.pick_up_location %></h2>
      <h3> <%= journey.pick_up_time %> </h3>
      <p> <%= journey.drop_off_location %> </p>
      <p> <%= journey.seats_available %> </p>
      <p> <%= journey.user %> </p>
      <p> <%= journey.car %> </p>
    </div>
  <% if journey(car).driver.photo? %>
    <%= cl_image_tag journey.user.photo.path, crop: :thumb, gravity: :face, class: "card-user-avatar" %>
  <% else %>
    <% image_tag "logo.png", class: "card-user avatar" %>
  <% end %>
  <% link_to "", journey_path(journey.id), class: "card-link" %>
</div>
 -->
<div class="user-card" id="review">
  <div class="user-card-info">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag "http://placehold.it/200x200", class:"responsive-img" %>
    </div> <!-- end of col 1.3 -->
    <div class="col-xs-12 col-sm-6">
      <h3> <%= journey.user.first_name %> </h3>
        <ul>
          <li> <%= journey.drop_off_location %> </li>
          <li> <%= journey.seats_available %> </li>
          <li> <%= journey.car %> </li>
        </ul>
    </div> <!-- end of col 1.2 -->
    </div> <!-- end of row 1.2 -->
  </div> <!-- end of user-card-info -->
</div> <!-- end of user-card -->
