


<div class="wrapper">
  <div class="banner-content">
    <h1><%= @journey.pick_up_location%> to <%=@journey.drop_off_location %> at <%= @journey.pick_up_time %> </h1>
    <h2> Journey info </h2>
      <p><%= @journey.seats_available - @journey.passengers.count %></p>
      <% @journey.passengers.each do |passenger| %>
        <p> <%= passenger.first_name %></p>
        <%= passenger.photo %>
      <% end %>
    <h2> Driver info </h2>
      <p><%= @journey.car.user.description %></p>
      <p><%= @journey.user.music_habits %></p>
      <p><%= @journey.user.speaking_habits %></p>
      <p><%= @journey.user.smoking %></p>
    <h2> Car info </h2>
      <p><%= @journey.car.make %></p>
      <p><%= @journey.car.colour %></p>
    <%= link_to "See all my journeys", user_journeys_path, {class: "btn btn-primary" } %>
    <% if @journey.car.user = current_user %>
      <%= link_to "Edit this journey", edit_car_journey_path(@journey.car), { class: "btn btn-primary"}%>
      <%= link_to "delete", journey_path(@journey), method: :delete  %>
    <% end %>
    <% if @journey.passengers.include? current_user %>
      <% link_to "Book this journey", journey_passengers_path(@journey), {class: "btn btn-primary"} %>
    <% end %>
  </div>
</div>

