
<div class="wrapper">
  <div class="banner-content">
    <h1><%= @journey.pick_up_location.address%> to <%=@journey.drop_off_location.address %> at <%= @journey.pick_up_time.to_formatted_s(:time) %> </h1>
    <h2> Journey info </h2>
      <p><%= @journey.seats_available - @journey.passengers.count %></p>
      <% @journey.passengers.each do |passenger| %>
        <p> <%= passenger.first_name %></p>
        <%= passenger.photo %>
      <% end %>
    <h2> Driver info </h2>
      <p><%= @journey.car.user.description %></p>
      <p><%= @journey.user.music_habits %></p>
      <p><%= @journey.user.speaking_habits %></p>
      <p><%= @journey.user.smoking %></p>
    <h2> Car info </h2>
      <p><%= @journey.car.make %></p>
      <p><%= @journey.car.colour %></p>
    <%= link_to "See all my journeys", user_journeys_path, {class: "btn btn-primary" } %>
    <% if @journey.car.user = current_user %>
      <%= link_to "Edit this journey", edit_car_journey_path(@journey.car), { class: "btn btn-primary"}%>
      <%= link_to "delete", journey_path(@journey), method: :delete  %>
    <% end %>
    <% if @journey.passengers.include? current_user %>
      <% link_to "Book this journey", journey_passengers_path(@journey), {class: "btn btn-primary"} %>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
</div>

