<div class="banner-content">
  <h1><%= @journey.user.first_name %></h1>
  <h2> Journey info </h2>
    <p><%= @journey.seats_available %></p>
    <p><%= @journey.pick_up_time %></p>
    <p><%= @journey.pick_up_location %></p>
    <p><%= @journey.drop_off_location %></p>
  <h2> Driver info </h2>
    <p><%= @journey.user.description %></p>
    <p><%= @journey.user.music_habits %></p>
    <p><%= @journey.user.speaking_habits %></p>
    <p><%= @journey.user.smoking %></p>
  <h2> Car info </h2>
    <p><%= @journey.car.make %></p>
    <p><%= @journey.car.colour %></p>
  <%= link_to "See all my journeys", user_journeys_path, {class: "btn btn-primary" } %>
  <%= if @journey.user = current_user %>
    <%= link_to "Edit this journey", edit_car_journey_path(@journey.car), { class: "btn btn-primary"}%>
    <%= link_to "delete", journey_path(@journey), method: :delete  %>
  <%= end %>
</div>


