<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="user-card" id="journey">
          <div class="journey-header">
            <div class="journey-details">
              <div class="from">
                <h2><%= t('.departure') %></h2>
                <p><%= @journey.pick_up_location.address%></p>
              </div>
              <i class="fi-arrow-right"></i>
              <div class="to">
                <h2><%= t('.arrival') %></h2>
                <p><%= @journey.drop_off_location.address%></p>
              </div>
              <div class="pick-up">
                <h2><i class="fi-clock"></i><%= t('pick_up_time') %></h2>
                <p><%= l(@journey.pick_up_time, format: :time_date) %></p>
              </div>
            </div>
            <div class="journey-passengers">
              <p> <%= t('seats_available', count: @journey.remaining_seats)%> - </p>
              <% @journey.passengers.each do |passenger| %>
                <% if passenger.user.photo? %>
                  <%= cl_image_tag passenger.user.photo.path, class: "avatar-large test", "aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "top", "title" => passenger.user.first_name  %>
                <% else %>
                  <% avatar_url = passenger.user.facebook_picture_url || "http://placehold.it/200x200" %>
                  <%= image_tag avatar_url, class: "avatar-large test", "aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "top", "title" => passenger.user.first_name  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="modal fade" id="bkg-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ride confirmation</h4>
              </div>
              <div class="modal-body">
                <h3> Here is a recap of your next ride </h3>
                <div class="journey-details">
                  <div class="from">
                    <h2><%= t('.departure') %></h2>
                    <p><%= @journey.pick_up_location.address%></p>
                  </div>
                  <i class="fi-arrow-right"></i>
                  <div class="to">
                    <h2><%= t('.arrival') %></h2>
                    <p><%= @journey.drop_off_location.address%></p>
                  </div>
                  <div class="pick-up">
                    <h2><i class="fi-clock"></i><%= t('pick_up_time') %></h2>
                    <p><%= l(@journey.pick_up_time, format: :time_date) %></p>
                  </div>
                </div>

                <% if user_signed_in?  %>

                  <% if @journey.completed %>
                    Journey completed
                  <% elsif policy(@journey).update? %>
                    <%= simple_form_for [@journey] do |f| %>
                      <%= f.hidden_field :completed, :value => true %>
                      <%= f.submit "Mark as Completed", class: 'btn-booking' %>
                    <% end %>
                  <% end %>

                    <% if on_journey?(@journey) %>
                      <% remove_passenger = @journey.passengers.where(user: current_user)[0] %>
                      <%= link_to 'Cancel booking', journey_passenger_path(journey_id: @journey, id: remove_passenger.id), data: { confirm: 'Are you sure?' }, method: :delete %>
                  <% elsif @journey.full? %>
                    <h4> Journey full </h4>
                  <% elsif policy(@passenger).create? %>
                    <%= t ".only_remaining", count: @journey.remaining_seats %>

                    <%= simple_form_for([ @journey, @journey.passengers.build ]) do |f| %>
                      <%= f.association :passenger_location, collection: PassengerLocation.all.map { |p| [p.address, p.id.to_s] }, label_method: :first, value_method: :last %>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      <%= f.submit "Confirm the booking*", class: "btn btn-primary" %>
                    <% end %>

                      </div>
                      <p> * by confirming the booking, you are accepting our terms and conditions</p>
                  <% end %>

                <% elsif user_signed_in? %>
                  <%= simple_form_for([ @journey, @journey.passengers.build ]) do |f| %>
                    <%= f.association :passenger_location, collection: PassengerLocation.all.map { |p| [p.address, p.id.to_s] }, label_method: :first, value_method: :last %>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <%= f.submit "Confirm the booking", class: "btn btn-primary"%>
                  <% end %>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </div>

                <% else %>
                <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %
                <% end %>


              </div>
            </div>
          </div>
        </div>



        <div class="user-card" id="journey">
          <div class="user-card-info journey-body">

            <div class="driver-links">
              <ul class="list-inline">
                <% if user_signed_in?  %>
                  <% if policy(@journey).update? %>
                    <li>
                      <%= link_to edit_journey_path(@journey) do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </li>
                  <% end %>
                  <% if policy(@journey).destroy? %>
                    <li>
                      <%= link_to journey_path(@journey), method: :delete do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="driver-card">
            <% if @journey.user.photo? %>
              <%= cl_image_tag @journey.user.photo.path, class: "avatar-large test", "aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "top", "title" => @journey.user.first_name  %>
            <% else %>
              <% avatar_url = @journey.user.facebook_picture_url || "http://placehold.it/200x200" %>
              <%= image_tag avatar_url, class: "avatar-large test", "aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "top", "title" => @journey.user.first_name  %>
            <% end %>
              <p class="name"><%= @journey.user.full_name %></p>
              <p class="car"><%= @journey.car.make %>, <%= @journey.car.colour %></p>
            </div>
            <div class="driver-description">
              <h4><%= t('.about_me') %></h4>
              <p><%= t('year_of_study_html', year_of_study: @journey.user.year_of_study) %></p>
              <p><%= t('uni_course_html', course: @journey.user.uni_course) %></p>
              <p><%= @journey.car.user.description %></p>
              <ul class= "list-inline">
                <li>
                  <p><i class="fi-volume test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= @journey.user.music_habits %>"></i></p>
                </li>
                <li>
                  <p><i class="fa fa-comment test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= @journey.user.speaking_habits %>"></i></p>
                </li>
                <% if @journey.user.smoking? %>
                  <li>
                    <p><i class="fi-info test" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="smoking"></i></p>
                  </li>
                <% else %>
                  <li>
                    <p><i class="fi-no-smoking test non-smoking" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="no smoking"></i></p>
                  </li>
                <% end %>
              </ul>

              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bkg-confirmation-modal">
                book this journey
              </button>

            </div>
          </div>
        </div> <!-- end of user-card-info -->
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="user-card" id="gmap">
          <div class="user-card-info">
            <%= render 'map' %>
          </div> <!-- end of row 1.2 -->
        </div> <!-- end of user-card-info -->
      </div>
    </div>
  </div>
</div>


