<div class="container">
  <h2 class="text-center"> <%= t('.logged_hours') %> </h2>
  <p> <%= t('.list_hours_worked') %>  </p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> id </th>
        <th><%= t('.hours') %></th>
        <th><%= t('.date') %></th>
        <th class="text-center"><%= t('.delete_time') %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
      <tr>
        <td>  <%= log.id %> </td>
        <td>  <%= (log.minutes.to_f/60).round(2) %> </td>
        <td>  <%= l log.date, format: :day_month_year %> </td>
        <td class="text-center"> 
          <%= link_to journey_log_path(log.journey, log), data: { confirm: 'Are you sure?' }, method: :delete do %>
            <i class="fa fa-times"></i> 
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <p> <%= t('.list_hours_paid') %>  </p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> id </th>
        <th><%= t('.hours_paid') %></th>
        <th><%= t('.date_paid') %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs_paid.each do |log| %>
      <tr>
        <td>  <%= log.id %> </td>
        <td>  <%= (log.minutes_paid.to_f/60).round(2) %> </td>
        <td>  <%= l log.date_paid, format: :day_month_year %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>