<div class="dashboard-card">

 <p class="text-center">  </p>

<%= simple_form_for @availability, url: car_availabilities_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :weekday, collection: Availability::DAYS %>
  <%= f.input :start %>
  <%= f.input :finish %>

  <%= f.button :submit, class: "btn btn-primary wide-btn" %>

<% end %>

</div>

